<%= form_for(@dependency) do |f| %>
  <% if @dependency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dependency.errors.count, "error") %> prohibited this dependency from being saved:</h2>

      <ul>
      <% @dependency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_name %><br />
    <%= f.collection_select :product_name,  Product.find(:all), :id, :product_name %>
  </div>
  <div class="field">
    <%= f.label :follower %><br />
    <%= f.collection_select :product_name,  Product.find(:all), :id, :product_name %>
  </div>
  <div class="field">
    <%= f.label :coefficient %><br />
    <%= f.text_field :coefficient %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
