<p id="notice"><%= notice %></p>

<p>
  <b>product_name:</b>
  <%= @demand.product_name %>
</p>

<p>
  <b>period:</b>
  <%= @demand.period %>
</p>

<p>
  <b>demand quantity:</b>
  <%= @demand.demand_quantity %>
</p>


<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>
