<header>
  <nav class="round">
    <ul>
      <% if signed_in? %>
      <p><li><%= link_to "MLCLSP", demands_path %> you can type in the quantites of your products  </li></p>
      <% end %>
      <li><%= link_to "Home", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profile", current_user %></li>
      <% end %>
      <% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
